
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color:black;
    text-decoration: none;
    padding: 2px;
    cursor: pointer;
}

.dashboard {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        height: auto;
        width: 100%;
    }
}

