<app-navbar></app-navbar>


<div class="container" style="margin-top: 100px;">

    <div id="mBWrapper">

        <h3 class="Red XCN">About us</h3>
        <p class="western"> Ticket 24 is India’s largest online bus and Flight ticketing platform that has transformed
            bus travel in
            the
            country by bringing ease and convenience to millions of Indians who travel using buses. Founded in 2024,
            Ticket 24
            is part of India’s leading online travel company MakeMyTrip Limited (NASDAQ: MMYT). By providing widest
            choice,
            superior customer service, lowest prices and unmatched benefits, Ticket 24 has served over 18 million
            customers.
            Ticket 24 has a global presence with operations across Indonesia, Singapore, Malaysia, Colombia and Peru
            apart
            from
            India. </p>
        <h3 id="BirdsEye" class="Red XCN">Management Team</h3>
        <div class="clearfix">
            <div class="fl w-20">
                <div><img src="https://s3.rdbuz.com/Images/profile/Prakash.png" style="width:138px;height:138px"></div>
            </div>
            <div class="fl w-80 ">
                <h6 id="Ourstory" class="Red TextBold XCN" style="margin:0;padding:0;font-size:16px; color:DodgerBlue;">
                    XYZ,
                    CEO
                </h6>
                <p class="western"> Prakash Sangam has been Chief Executive Officer of redBus since June 2014. Prior to
                    redBus. He served as an Executive Vice President of Info Edge India (Naukri group), heading two
                    group
                    businesses namely Shiksha.com and Jeevansathi.com. He’s also worked as General Manager of Marketing
                    and
                    Innovation at Airtel and has also had multiple roles across Marketing, Brand Management and Sales at
                    Hindustan Unilever. Prakash has completed his MBA from IIM Calcutta and also holds an Honours degree
                    in
                    Production Engineering from Mumbai University.</p>
            </div>
        </div>
        <div class="clearfix" style="margin:30px 0">
            <div class="fl w-20">
                <div style="text-align: left;margin-right: 50px;"><img
                        src="https://s3.rdbuz.com/Images/profile/Anoop.png" style="width:138px;height:138px"></div>
            </div>
            <div class="fl w-80">
                <h6 id="OurChannel" class="Red TextBold XCN "
                    style="margin:0;padding:0;font-size:16px; color:DodgerBlue;">ABC, CTO
                </h6>
                <p class="western"> Anoop Menon serves as Chief Technology Officer at redBus. Anoop plays an integral
                    role
                    in setting the company’s strategic direction, development and future growth. At redBus, he leads
                    effective delivery of scalable systems to the customers, agents and bus operators by incorporating
                    the
                    latest technology. A tech enthusiast, Anoop comes with over 18 years of extensive experience in
                    building
                    scalable and high-performing products across telecom, internet and mobile ecommerce domains. Anoop
                    strongly believes that hard work and commitment can overcome the barriers to success. He completed
                    BE in
                    Mechanical Engineering from Madras University and loves sports, movies, TV and music. </p>
            </div>
        </div>
    </div>

</div>


<app-footer></app-footer>


<!-- <app-footer></app-footer> -->