<!-- <p>railway-book works!</p> -->
<!-- <app-navbar></app-navbar> -->
<app-navbar1></app-navbar1>

<div class="container" style="margin-top: 30px;">
    <div class="search_tupple_wrapper" style="display:flex;
    justify-content:center;">
        <div class="search_tupple_content" style="box-sizing: border-box;
        max-width: 53%;">
            <div class="srp_trainname_wrap">
                <div class="srp_train_name_code"><span class="srp_train_name">Koyna Express</span><span
                        class="srp_train_code"> | 11029</span></div>
                <div class="srp_week_day_wrap">
                    <div class="srp_week_days"><span class="bold srp_week_day1">S </span><span
                            class="bold srp_week_day2">M </span><span class="bold srp_week_day1">T </span><span
                            class="bold srp_week_day2">W </span><span class="bold srp_week_day1">T </span><span
                            class="bold srp_week_day2">F </span><span class="bold srp_week_day1">S</span></div>
                    <div class="schedule_link"></div>
                </div>
            </div>
            <div class="srp_train_arrival_date">Thu, 4 Jan</div>
            <div class="srp_timimngs_wrap"><span class="srp_departure_time">12:40 <span
                        class="srp_departure_time_ampm">PM</span></span>
                <div class="srp_distance_wrap">
                    <hr class="srp_distance_line"><span class="right_arrow"></span>
                    <div class="srp_distance_text">07h 30m</div>
                </div><span class="srp_arrival_time">08:10 <span class="srp_arrival_time_ampm"> PM</span></span>
            </div>
            <div class="srp_timimngs_wrap srp_src_dst_stations">
                <div>Pune Jn (PUNE)</div>
                <div>C Shahumhara... (KOP)</div>
            </div>
            <div class="searchtrainClasses" routerLink="/railwaytktbook">
                <div>
                    <div class="search_classes_main_wrap  green_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">CC</div>
                                <div id="">₹475</div>
                            </div>
                            <div id="" class="availability_status_wrap green_styles no_border"><span id="">4
                                </span><span id="" class="availability_status">CURR_AVBL </span></div>
                        </div>
                    </div><span class="updated_time">6h ago</span>
                </div>
                <div>
                    <div class="search_classes_main_wrap  green_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">3A</div>
                                <div id="">₹585</div>
                            </div>
                            <div id="" class="availability_status_wrap green_styles no_border"><span id="">7
                                </span><span id="" class="availability_status">CURR_AVBL </span></div>
                        </div>
                    </div><span class="updated_time">6h ago</span>
                </div>
                <div>
                    <div class="search_classes_main_wrap  green_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">2A</div>
                                <div id="">₹830</div>
                            </div>
                            <div id="" class="availability_status_wrap green_styles no_border"><span id="">2
                                </span><span id="" class="availability_status">CURR_AVBL </span></div>
                        </div>
                    </div><span class="updated_time">1h ago</span>
                </div>
                <div><span class="tatkal_quota">TATKAL</span>
                    <div class="search_classes_main_wrap  undefined">
                        <div class="search_fare_class_wrap">
                            <div>
                                <div class="class_name">2A</div>
                                <div class="tap_to_update">Tap to update<img class="refresh_button"
                                        src="/railways/public/images/refresh_img.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div><span class="tatkal_quota">TATKAL</span>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">2S</div>
                                <div id=""> </div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">1h ago</span>
                </div>
                <div><span class="tatkal_quota">TATKAL</span>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">SL</div>
                                <div id=""> </div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">1h ago</span>
                </div>
                <div>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">2S</div>
                                <div id="">₹130</div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">6h ago</span>
                </div>
                <div>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">SL</div>
                                <div id="">₹220</div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">1h ago</span>
                </div>
                <div><span class="tatkal_quota">TATKAL</span>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">CC</div>
                                <div id=""> </div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">1h ago</span>
                </div>
                <div><span class="tatkal_quota">TATKAL</span>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">3A</div>
                                <div id=""> </div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">Few mins ago</span>
                </div>
                <div>
                    <div class="search_classes_main_wrap  grey_styles">
                        <div id="" class="search_fare_class_wrap ">
                            <div id="" class="display_flex">
                                <div id="">1A</div>
                                <div id="">₹1375</div>
                            </div>
                            <div id="" class="availability_status_wrap grey_styles no_border"><span id=""> </span><span
                                    id="" class="availability_status">NOT AVAILABLE </span></div>
                        </div>
                    </div><span class="updated_time">6h ago</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>