<app-navbar1></app-navbar1>
<!-- <p>railway-ticket-book works!</p> -->

<div style="max-width: 50%; margin-left: 100px;">
    <div class="trav_info_header_wrap" id="trav_info_header_wrap">
        <div class="header_contentwrap">
            <div class="trav_info_trainname">Maharashtra Exp | <span class="trav_info_trainno">11039</span></div>
            <div class="trav_info_train_details">3A-<span class="trav_info_train_details_default green_styles">60
                    Available </span>| General | Sun, 7 Jan</div>
        </div>
    </div>
    <div class="trav_info_train_details_wrap_main">
        <div class="trav_info_train_details_wrap">
            <div class="dept_arr_time">
                <div>06 Jan, 02:45 PM</div>
                <div>06 Jan, 10:15 PM</div>
            </div>
            <div class="trav_info_duration_wrap">
                <div class="small_circle"></div>
                <div class="duration"><span class="duration_text">07h 30min</span></div>
                <div class="small_circle_2"></div>
            </div>
            <div class="trav_info_station_names_wrap">
                <div>
                    <div class="trv_inf_stn_name">C Shahumharaj T</div>
                    <div class="trv_inf_stn_code">KOP</div>
                </div>
                <div class="right_align">
                    <div class="trv_inf_stn_name">Pune Jn</div>
                    <div class="trv_inf_stn_code">PUNE</div>
                </div>
            </div>
        </div>
        <div class="trav_info_boarding_station_wrap" id="irctc_un">
            <div>
                <div class="boarding_stn_text">Boarding Station</div>
                <div class="boarding_stn_name">C Shahumharaj T (KOP)</div>
                <div class="boarding_time_date">02:45 PM • Sat, 6 Jan</div>
            </div>
            <div class="change_stn_text">Change station</div>
        </div>
    </div>
    <div class="irctc_username_wrap">
        <div class="irctc_username_flex_wrap"><img class="irctc_un_icon" src="/railways/public/images/irctcUn.svg"
                alt="un-icon">
            <div>
                <div class="irctc_un_heading">IRCTC Username</div>
                <div class="irctc_un_content">Your username is required to book tickets</div>
            </div>
        </div>
        <div class="irctc_input_wrap"><input id="1" placeholder="IRCTC username" type="text"
                class="undefined input_field false" autocapitalize="none" value=""></div>
        <div class="irctc_create_new_button create_new">  <span> <a href="https://www.irctc.co.in/nget/train-search">I don't have an IRCTC username</a></span></div>
        <div class="irctc_create_new_button"><span id="www.redbus.in/railways/travellerInfo/forgotusername">Forgot
                username</span></div>
    </div>
    <div class="sc-htpNat POpIB">
        <h4>redRail Exclusive</h4>
        <div class="sc-bxivhb KorvF">
            <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/NOFEE.webp" alt="offer_image"
                    class="sc-EHOje jhvlYl"></div>
            <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/SUPER_NEW.webp"
                    alt="offer_image" class="sc-EHOje jhvlYl"></div>
            <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/redrail_offercard_2@3x.png"
                    alt="offer_image" class="sc-EHOje jhvlYl"></div>
        </div>
    </div>
    <div class="add_passenger_wrap">
        <div class="passenger_flex_wrap"><img class="passengerheads_icon"
                src="/railways/public/images/passengerheads.svg" alt="passenger-icon">
            <div>
                <div class="passenger_heading">Passengers — 0&nbsp; selected</div>
                <div class="passenger_head_content">Add passenger details</div>
            </div>
        </div>
        <div class="no_passengers_img_wrap"><img class="no_passengers_img"
                src="/railways/public/images/no_passengers.svg" alt="no_passengers">
            <div class="noPassMsg1">no passengers added</div>
            <div class="noPassMsg2">add at least one to complete the booking!</div>
        </div>
        <div class="add_new_passenger_button">Add new passenger</div>
    </div>
</div>

<app-footer></app-footer>