<app-navbar></app-navbar>

<!-- <br> -->

<section class="container" style=" display: flex;  margin: auto; border: 2px solid #000;  margin-top: 100px;">

    <h2> Login Form </h2>
    <form action="" class="form">
        <label for="userId"><span> username </span></label>
        <input type="text" name="username" id="userId">

        <label for="mobile_no"><span>Mobile no </span></label>
        <input type="text" name="mobile_no" id="mobile_no">

        <label for="email_id"><span>Email id </span></label>
        <input type="text" name="email_id" id="email_id">

        <button>Login</button>
    </form>

    <p class="newUser">
        Not a Signup yet? <span routerLink="/regis" style="cursor: pointer;">Signup now</span>
    </p>
</section>
