  <!-- <h5>passenger works</h5> -->
<app-navbar></app-navbar>

<div class="travel_info_page" id="travel_info_page">
    <div>
        <div class="trav_info_header_wrap" id="trav_info_header_wrap">
            <div class="header_contentwrap">
                <div class="trav_info_trainname">Koyna Express | <span class="trav_info_trainno">11030</span></div>
                <div class="trav_info_train_details">2S-<span class="trav_info_train_details_default green_styles">41
                        Available </span>| TQ | Thu, 4 Jan</div>
            </div>
        </div>
        <div class="trav_info_train_details_wrap_main">
            <div class="trav_info_train_details_wrap">
                <div class="dept_arr_time">
                    <div>04 Jan, 08:15 AM</div>
                    <div>04 Jan, 03:45 PM</div>
                </div>
                <div class="trav_info_duration_wrap">
                    <div class="small_circle"></div>
                    <div class="duration"><span class="duration_text">07h 30min</span></div>
                    <div class="small_circle_2"></div>
                </div>
                <div class="trav_info_station_names_wrap">
                    <div>
                        <div class="trv_inf_stn_name">C Shahumharaj T</div>
                        <div class="trv_inf_stn_code">KOP</div>
                    </div>
                    <div class="right_align">
                        <div class="trv_inf_stn_name">Pune Jn</div>
                        <div class="trv_inf_stn_code">PUNE</div>
                    </div>
                </div>
            </div>
            <div class="trav_info_boarding_station_wrap" id="irctc_un">
                <div>
                    <div class="boarding_stn_text">Boarding Station</div>
                    <div class="boarding_stn_name">C Shahumharaj T (KOP)</div>
                    <div class="boarding_time_date">08:15 AM • Thu, 4 Jan</div>
                </div>
                <div class="change_stn_text">Change station</div>
            </div>
        </div>
        <div class="irctc_username_wrap">
            <div class="irctc_username_flex_wrap" routerLink="/railwaytktbook"><img class="irctc_un_icon" src="/railways/public/images/irctcUn.svg"
                    alt="un-icon">
                <div>
                    <div class="irctc_un_heading">IRCTC Username</div>
                    <div class="irctc_un_content">Your username is required to book tickets</div>
                </div>
            </div>
            <div class="irctc_input_wrap"><input id="1" placeholder="IRCTC username" type="text"
                    class="undefined input_field false" autocapitalize="none" value=""></div>
            <div class="irctc_create_new_button create_new"><span>I don't have an IRCTC username</span></div>
            <div class="irctc_create_new_button"><span id="www.redbus.in/railways/travellerInfo/forgotusername">Forgot
                    username</span></div>
        </div>
        <div class="sc-htpNat POpIB">
            <h4>redRail Exclusive</h4>
            <div class="sc-bxivhb KorvF">
                <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/NOFEE.webp"
                        alt="offer_image" class="sc-EHOje jhvlYl"></div>
                <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/SUPER_NEW.webp"
                        alt="offer_image" class="sc-EHOje jhvlYl"></div>
                <div class="sc-ifAKCX duihGv"><img src="https://st.redbus.in/Images/redrail/redrail_offercard_2@3x.png"
                        alt="offer_image" class="sc-EHOje jhvlYl"></div>
            </div>
        </div>
        <div class="add_passenger_wrap">
            <div class="passenger_flex_wrap"><img class="passengerheads_icon"
                    src="/railways/public/images/passengerheads.svg" alt="passenger-icon">
                <div>
                    <div class="passenger_heading">Passengers — 0&nbsp; selected</div>
                    <div class="passenger_head_content">Add passenger details</div>
                </div>
            </div>
            <div class="no_passengers_img_wrap"><img class="no_passengers_img"
                    src="/railways/public/images/no_passengers.svg" alt="no_passengers">
                <div class="noPassMsg1">no passengers added</div>
                <div class="noPassMsg2">add at least one to complete the booking!</div>
            </div>
            <div class="add_new_passenger_button">Add new passenger</div>
        </div>
    </div>
    <div class="add_pref_wrap">
        <div class="add_pref_flex_wrap"><img class="add_pref_icon" src="/railways/public/images/addpref.svg"
                alt="addpref-icon">
            <div>
                <div class="add_pref_heading">Additional Preferences<span class="pref_count"></span></div>
                <div class="add_pref_content">Travel insurance, berth preference, auto upgradation</div>
            </div>
        </div>
        <div class="choose_pref_button"><span>Choose Preferences</span></div>
    </div>
    <div class="contact_details_wrap" id="contact_details_section">
        <div class="contact_details_flex_wrap"><img class="contact_icon"
                src="/railways/public/images/contactDetails.svg" alt="contact-icon">
            <div>
                <div class="contact_details_heading">Contact Details</div>
                <div class="contact_details_content">Ticket details will be sent to provided contact info</div>
            </div>
        </div>
        <div class="contact_input_wrap"><input id="20" placeholder="Enter Email" type="text" maxlength="100"
                class="undefined input_field false" value=""></div>
        <div class="contact_input_wrap"><input id="21" placeholder="Enter your phone no" type="number" maxlength="100"
                class="undefined input_field false" value=""></div>
        <div class="gst_address_main_wrapper" id="gst_address">
            <div class="gst_prefilled_city_state_wrap">
                <div class="gst_prefill_head">City and State</div>
                <div class="gst_prefill_value_wrap">
                    <div class="gst_prefill_value">Kolhapur, Maharashtra</div>
                    <div class="gst_prefill_edit">Edit</div>
                </div>
            </div>
        </div>
    </div>
    <div class="travel_agree_content">By proceeding, I agree that I have read and understood the <a
            href="https://www.redbus.in/info/termscondition" target="_blank">Terms &amp; Conditions</a>, <a
            href="https://www.redbus.in/info/privacypolicy" target="_blank">Privacy Policy</a> and Travel Guidelines of
        my destination state.</div>
    <div class="proceed_block_wrap">
        <div class="proceed_content">
            <div><span class="proceed_amt_text">Amount: </span><span class="proceed_fare">₹ 145</span><span
                    class="proceed_text_person"> / person</span></div>
            <div class="proceed_tax">Final amount will be calculated at payment</div>
        </div>
        <div class="proceed_button">PROCEED</div>
    </div>
</div>